:root{
    --text-color: #050505;
    --secondary-text-color: #0505054D;
    --thirdly-text-color: #05050580;
    --cards-text-color: #F8F8F8;
    --accent-color: #9BB537;
    --form-border-color: #05050533;
    --star-color: #EEA10C;
}
