:root[data-theme='light'] {
  --primary-brand-color: #050505;
  --secondary-brand-color: #9bb537;
  --background-color: #f8f8f8;

  --filter-input-pagination-color: #05050533;
  --placeholder: #05050580;
  --select-open: #ffffff;
  --select-open-text: #0505054d;
  --switcher-theme-background: #cecdcd;
  --see-recipe-text-color: rgba(5, 5, 5, 0.8);
  --modal-background: #9bb537;
  --modal-text-color: #ffffff;
  --modal-hover: #050505;
  --category-button: rgba(5, 5, 5, 0.3);
  --all-categories: rgba(5, 5, 5, 0.2);
  --modal-rating-back: #fff;
  --star-no-active: #d9d9d9;
  --modal-email: #ffffff;
  --select-text: #0505054d;
  --link-icon-x: url('/img/sprite/icon-close-dark.svg');
  --category-button-oll: rgba(5, 5, 5, 0.5);
  
}
:root[data-theme='dark'] {
  --primary-brand-color: #ffffff;
  --secondary-brand-color: #9bb537;
  --background-color: #161616;
  --filter-input-pagination-color: #ffffff80;
  --placeholder: #ffffff80;
  --see-recipe-text-color: #ffffffcc;
  --switcher-theme-background: #9bb537;
  --modal-background: #050505;
  --modal-text-color: #f8f8f8;
  --modal-hover: #9bb537;
  --category-button: rgba(255, 255, 255, 0.3);
  --all-categories: rgba(255, 255, 255, 0.2);
  --modal-rating-back: #050505;
  --star-no-active: #3c3b3b;
  --modal-email: #161616;
  --category-button-oll: rgba(255, 255, 255, 0.5);
  --select-text: #ffffff4d;
  --link-icon-x: url('/img/sprite/icon-close-x.svg');
}

:root {
  --transition: 750ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  --text-color-white-theme: #050505;
  --text-color-black-theme: #ffffffcc;
  --not-active-btn-color-white: #0505054d;
  --not-active-btn-color-black: #ffffff80;
  --thirdly-text-color: #05050580;
  --cards-text-color-white-theme: #f8f8f8;
  --gray-cards-text-color-black-theme: #ffffffcc;
  --accent-color: #9bb537;
  --form-border-color: #05050533;
  --star-color: #eea10c;
  --black-bg-color: #050505;
}
