.btn {
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-family: Inter, sans-serif;
  border-radius: 15px;
  transition: all 0.5s;
}

.order-now {
  min-width: 127px;
  min-height: 45px;
  padding: 14px 28px;
  color: #050505;
  border: 1px solid #9bb537;
}

@media (hover: hover) {
  .order-now:hover,
  .order-now:focus {
    background-color: #9bb537;
    color: #f8f8f8;
  }
}

@media not (hover: hover) {
  .order-now:active {
    background-color: #9bb537;
    color: #f8f8f8;
  }
}

.all-categories {
  min-width: 174px;
  min-height: 50px;
  padding: 14px 28px;
  color: rgba(5, 5, 5, 0.5);
  border: 1px solid rgba(5, 5, 5, 0.2);
}

@media (hover: hover) {
  .all-categories:hover,
  .all-categories:focus {
    background-color: #9bb537;
    color: #f8f8f8;
  }
}

@media not (hover: hover) {
  .all-categories:active {
    background-color: #9bb537;
    color: #f8f8f8;
  }
}

.add-to-favorite {
  min-width: 156px;
  min-height: 45px;
  padding: 14px 28px;
  color: #f8f8f8;
  background-color: #9bb537;
  border: 1px solid #9bb537;
}

@media (hover: hover) {
  .add-to-favorite:hover,
  .add-to-favorite:focus {
    color: #050505;
  }
}

@media not (hover: hover) {
  .add-to-favorite:active {
    color: #050505;
  }
}
.see-recipe {
  min-width: 93px;
  min-height: 31px;
  padding: 8px 16px;
  color: #f8f8f8;
  font-size: 12px;
  border-radius: 8px;
  border: 1px solid #9bb537;
  background-color: #9bb537;
}

@media (hover: hover) {
  .see-recipe:hover,
  .see-recipe:focus {
    color: #050505;
  }
}

@media not (hover: hover) {
  .see-recipe:active {
    color: #050505;
  }
}

.send {
  min-width: 360px;
  min-height: 48px;
  padding: 14px 162px;
  color: #f8f8f8;
  border: 1px solid #9bb537;
  background-color: #9bb537;
}

@media (hover: hover) {
  .send:hover,
  .send:focus {
    color: #050505;
  }
}

@media not (hover: hover) {
  .send:active {
    color: #050505;
  }
}
