.btn {
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-family: Inter, sans-serif;
  border-radius: 15px;
  transition: var(--transition);
}

.order-now {
  min-width: 127px;
  min-height: 45px;
  padding: 14px 28px;
  color: var(--primary-brand-color);
  border: 1px solid var(--secondary-brand-color);
}

@media (hover: hover) {
  .order-now:hover,
  .order-now:focus {
    background-color: var(--secondary-brand-color);
    color: var(--primary-brand-color);
  }
}

@media not (hover: hover) {
  .order-now:active {
    background-color: var(--secondary-brand-color);
    color: var(--primary-brand-color);
  }
}

.all-categories {
  min-width: 176px;
  min-height: 50px;
  padding: 14px 29px;
  font-size: 18px;
  color: var(--category-button-oll);
  border: 1px solid var(--all-categories);
}

@media (hover: hover) {
  .all-categories:hover,
  .all-categories:focus {
    background-color: var(--secondary-brand-color);
    color: var(--primary-brand-color);
  }
}

@media not (hover: hover) {
  .all-categories:active {
    background-color: var(--secondary-brand-color);
    color: var(--primary-brand-color);
  }
}
@media only screen and (min-width: 768px) {
  .all-categories {
    padding: 14px 28px;
    max-width: 174px;
      }
}
.add-to-favorite {
  min-width: 156px;
  min-height: 45px;
  padding: 14px 28px;
  color: var(--cards-text-color-white-theme);
  background-color: var(--secondary-brand-color);
  border: 1px solid var(--secondary-brand-color);
}

@media (hover: hover) {
  .add-to-favorite:hover,
  .add-to-favorite:focus {
    color: var(--text-color-white-theme);
  }
}

@media not (hover: hover) {
  .add-to-favorite:active {
    color: var(--text-color-white-theme);
  }
}

.see-recipe {
  max-width: 89px;
  max-height: 31px;
  padding: 8px 14px;
  color: #f8f8f8;
  font-size: 12px;
  border-radius: 8px;
  border: 1px solid var(--secondary-brand-color);
  background-color: var(--secondary-brand-color);
}

@media (hover: hover) {
  .see-recipe:hover,
  .see-recipe:focus {
    color: var(--primary-brand-color);
  }
}

@media not (hover: hover) {
  .see-recipe:active {
    color: var(--primary-brand-color);
  }
}

@media only screen and (min-width: 768px) {
  .see-recipe {
    max-width: 93px;
    padding: 8px 16px;
  }
}

.send {
  max-width: 100%;
  max-height: 46px;
  padding: 14px 140px;
  color: var(--background-color);
  border: 1px solid var(--secondary-brand-color);
  background-color: var(--secondary-brand-color);
}


@media (hover: hover) {
  .send:hover,
  .send:focus {
    color: var(--primary-brand-color);
  }
}

@media not (hover: hover) {
  .send:active {
    color: var(--primary-brand-color);
  }
}

@media only screen and (min-width: 768px) {
  .send {
    max-width: 360px;
    max-height: 48px;
    padding: 14px 162px;
      }
}

