<!-- Це посилання видає помилку -->
<link rel="stylesheet" href="/src/css/components/button.css" /> 

<div class="category-container container">

  <!-- Кнопка також не відображається та видає помилку,але вже кодом -->
<load
src="/src/partials/components/button.html"
btn-class="all-categories"
btn-type="button"
btn-text="All categories"
 />

  <!--<button class="all-categories active-all">All categories</button>-->
  <div class="categories categories-block">
    <ul class="category-list category-list-js">
     
      <!-- Категорії будуть додані за допомогою JavaScript -->
    </ul>
    </div>
</div>