<div class="search">
      <label class="search-wrapper label-position" >
        <span class="search-label">Search</span>
        
        <div class="search-thumb">
        <input
          class="search-field"
          type="text"
          name="user-search"
          id="search"
          aria-label="Search Recipe"
          placeholder="Enter Text"
        />
        <button class="search-button" type="submit">
          <svg class="search-field-icon" width="18" height="18">
            <use href="img/sprite/icons.svg#icon-search"></use>
          </svg>
        </button>
        </div>
      </label>
      

      <label class="time-wrapper label-position" >
        <span class="search-label">Time</span>
      <select class="time-select select js-time-select" name="time" >
      </select>
     </label>
      
     <label class="area-wrapper label-positoin area-wrapper-js" >
      <span class="search-label">Area</span>
      <select class="area-select select js-area-select" name="area" >
      </select>
      </label>

      <label class="ingredients-wrapper label-positoin ingredients-wrapper-js" >
      <span class="search-label">Ingredients</span>
      <select class="ingredients-select select js-ingredients-select" name="ingredients" >
      </select>
      </label>
      
</div>
   <div class="wrapper-reset">
  <button class="button-reset button-reset-js" type="submit">
    <svg class="reset-icon" width="16" height="16">
      <use href="img/sprite/icons.svg#icon-close-x"></use>
     <span class="reset-text">Reset the filter</span>
   </button>
  </div>
  