

<div class="rating-backdrop">
    <div class="rating-modal">
      
      <svg
        id="rating-close-btn"
        class="rating-close-icon"
        width="20"
        height="20"
      >
        <use href="img/sprite/icons.svg#icon-close-x"></use>
      </svg>
      <h3 class="rating-title">Rating</h3>
<form action="" class="login-form">
      <div class="form-item">
          <div class="rating rating-set">
            <p class="rating-value">0.0</p>
            <div class="rating-body">
              <div class="rating-active"></div>
              <div class="rating-items">
                <input type="radio" id="star1" name="rating" value="1" class="star-input">
                <label for="star1" class="star-label">
                    <svg class="star-rating" viewBox="0 0 24 24">
                        <use href="./img/sprite/icons.svg#icon-Star-1"></use>
                    </svg>
                </label>
                <input type="radio" id="star2" name="rating" value="2" class="star-input">
                <label for="star2" class="star-label">
                    <svg class="star-rating" viewBox="0 0 24 24">
                        <use href="./img/sprite/icons.svg#icon-Star-1"></use>
                    </svg>
                </label>
                <input type="radio" id="star3" name="rating" value="3" class="star-input">
                <label for="star3" class="star-label">
                    <svg class="star-rating" viewBox="0 0 24 24">
                        <use href="./img/sprite/icons.svg#icon-Star-1"></use>
                    </svg>
                </label>
                <input type="radio" id="star4" name="rating" value="4" class="star-input">
                <label for="star4" class="star-label">
                    <svg class="star-rating" viewBox="0 0 24 24">
                        <use href="./img/sprite/icons.svg#icon-Star-1"></use>
                    </svg>
                </label>
                <input type="radio" id="star5" name="rating" value="5" class="star-input">
                <label for="star5" class="star-label">
                    <svg class="star-rating" viewBox="0 0 24 24">
                        <use href="./img/sprite/icons.svg#icon-Star-1"></use>
                    </svg>
                </label>               
              </div>
            </div>
            
          </div>
        </div>
           <input
            type="email"
            name="email"
            class="rating-email"
            placeholder="Enter email"
          />
          <div class="add-rating-submit-btn">
            <load
              src="partials/components/button.html"
              btn-class="send"
              btn-type="submit"
              btn-text="Send"
              class="rating-btn"
            />
          </div>
          </form>
      </div>
    </div>
  </div>