<section class="hero-section">
    <div class="container flex-container">
        <h1 class="hero-title">Learn to Cook <span class="hero-title-italy">Tasty Treats'</span> Customizable
            Masterclass
        </h1>
        <p class="hero-paragraph">
            TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step Video Guides.
        </p>
        <button class="hero-button" id="openModalBtn" type="button">Order now</button>
    </div>
    <div class="swiper">
        <div class="swiper-wrapper"></div>
        <div class="swiper-pagination"></div>
        <div class="swiper-scrollbar"></div>
    </div>
</section>