<section class="hero-section">
    <div class="container">
        <h1 class="hero-title">Learn to Cook <span class="hero-title-text">Tasty Treats'</span> Customizable Masterclass
        </h1>
        <p class="hero-paragraph">
            TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step Video Guides.
        </p>
        <button class="hero-button" id="openModalBtn" type="button">Order now</button>
        <swiper-container class="mySwiper swip-cont" pagination="true" pagination-clickable="true" navigation="false"
            space-between="50" centered-slides="true" autoplay-delay="50000" autoplay-disable-on-interaction="false"
            loop="true">
            <swiper-slide>
                <ul class="slider-list">
                    <li class="slider-item">
                        <div class="slider-container-img img1"></div>
                    </li>
                    <li class="slider-item">
                        <div class="slider-container-img img2"></div>
                    </li>
                    <li class="slider-item">
                        <div class="slider-container-img img3"></div>
                    </li>
                </ul>
            </swiper-slide>
            <swiper-slide>
                <ul class="slider-list">
                    <li class="slider-item">
                        <div class="slider-container-img img1"></div>
                    </li>
                    <li class="slider-item">
                        <div class="slider-container-img img2"></div>
                    </li>
                    <li class="slider-item">
                        <div class="slider-container-img img3"></div>
                    </li>
                </ul>
            </swiper-slide>
            <swiper-slide>
                <ul class="slider-list">
                    <li class="slider-item">
                        <div class="slider-container-img img1"></div>
                    </li>
                    <li class="slider-item">
                        <div class="slider-container-img img2"></div>
                    </li>
                    <li class="slider-item">
                        <div class="slider-container-img img3"></div>
                    </li>
                </ul>
            </swiper-slide>
        </swiper-container>

        <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"></script>

    </div>
</section>