<section class="hero-section">
    <div class="container">
        <h1 class="hero-title">Learn to Cook <span class="hero-title-text">Tasty Treats'</span> Customizable Masterclass
        </h1>
        <p class="hero-paragraph">
            TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step Video Guides.
        </p>
        <button class="hero-button" id="js-hero-button" type="button">Order now</button>
        !-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper"></div>


            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-pagination"></div>
            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
        </div>

    </div>
</section>