<div class="popular-recipes">
  <h2 class="popular-recipes-title">Popular recipes</h2>
  <div class="popular-recipes-container">
    <!-- <div class="popular-recipes-wrap" data-id="6462a8f74c3d0ddd28897fc1">
        <picture>
          <source srcset="https://www.themealdb.com/images/media/meals/tqtywx1468317395.jpg" type="image/webp">
          <source srcset="https://www.themealdb.com/images/media/meals/tqtywx1468317395.jpg" type="image/jpeg">
          <img src="https://www.themealdb.com/images/media/meals/tqtywx1468317395.jpg" alt="Chocolate Gateau" loading="lazy" class="popular-recipes-img" width="64px" height="64px">
        </picture>
        <div class="popular-recipes-info-wrap">
          <h3 class="popular-recipes-subtitle">Chocolate Gateau</h3>
          <p class="popular-recipes-text">A French dessert consisting of layers of chocolate sponge cake and chocolate ganache, typically topped with chocolate glaze and chocolate decorations.</p>
        </div>
      </div>
    </div> -->
  </div>
</div>
