/* Пошук */
.search {
  display: flex;
  flex-wrap: wrap;
}
.search-label {
  user-select: none;
  display: block;
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  color: #05050580;
}
.search-wrapper {
  position: relative;
  width: 335px;

  margin-bottom: 14px;
}
.search-field {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 48px;
  width: 100%;
  height: 46px;
  color: #050505;
  border-radius: 15px;
  outline: none;
  border: 1px solid #05050533;
}
.search-field::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  color: #05050580;
}
.search-field:focus {
  border: 1px solid #9bb537;
}

.search-button {
  position: absolute;
  top: 14px;
  left: 18px;
}
.search-field-icon {
  fill: #05050580;
}
.search-field:focus + .search-button .search-field-icon {
  fill: #9bb537;
}
.time-wrapper {
  margin-bottom: 14px;
  margin-right: 14px;
  width: 160px;
}
.select {
  width: 100%;

  font-size: 14px;
  font-weight: 500;
  line-height: 18px;

  outline: none;
  /* color: #050505; */

  border: 1px solid #05050533;
  border-radius: 15px;

  padding: 14px 18px;
}

/*time select відкриваюча шторка*/
.ss-main {
  color: #050505;
}

.ss-main.ss-open-below {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.ss-content.ss-open-below {
  height: 124px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.ss-content .ss-list .ss-option {
  color: #0505054d;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  /* padding: 0; */
}
/* Ховер селекта */
.ss-content .ss-list .ss-option:hover {
  color: #0505054d;
  background-color: transparent;
}
/* При натисканні обирається колір */
.ss-content .ss-list .ss-option.ss-highlighted,
.ss-content .ss-list .ss-option:not(.ss-disabled).ss-selected {
  background-color: transparent;
}
.ss-content .ss-list .ss-option:not(:last-child) {
  padding-bottom: 8px;
}
.ss-content .ss-list .ss-option:not(.ss-disabled).ss-selected {
  color: #050505;
}

/* area search */
.area-wrapper {
  width: 160px;
}

/* Пошук інгрідієнтів*/
.ingredients-wrapper {
  width: 188px;
  margin-bottom: 14px;
}
/* Карточка з рецептом */
.resipes-card {
  position: relative;
  overflow: hidden;

  width: 335px;
  height: 335px;
}
.card-description {
  position: absolute;
  bottom: 0;
  top: 0;
  padding: 16px;
}
.like-btn {
  position: absolute;
  right: 16px;
  top: 16px;

  border: none;
  background: transparent;
}
.like-logo {
  fill: transparent;
}
/* .like-btn .liked {
  fill: #f8f8f8;
} */
.card-heading {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;

  margin-top: 198px;
  margin-bottom: 8px;

  user-select: none;

  color: #f8f8f8;
}
.text-container {
  width: 303px;
  max-height: 32px;
  overflow: hidden;

  margin-bottom: 16px;
}
.card-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;

  /* Встановлюємо кількість видимих рядків */
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow-y: scroll;
  scroll-behavior: smooth;

  user-select: none;

  color: #f8f8f8;
}
.card-text::-webkit-scrollbar {
  width: 0px;
}
/* рейтинг */
.number-rating {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  user-select: none;

  margin-right: 4px;

  color: #f8f8f8;
}
.rating {
  display: flex;
  align-items: center;
}
.reting-item {
  fill: #f8f8f8;
  opacity: 0.1;
}
.reting-item.filled {
  fill: #eea10c;
  opacity: 1;
}

/* кнопка */
.btn-see-recipe {
  font-weight: 500;
  font-size: 12px;
  line-height: 14.52px;
  color: #f8f8f8;
  background-color: #9bb537;
  border: none;

  min-width: 89px;
  min-height: 31px;
  padding: 8px, 14px;
  border-radius: 8px;

  margin-left: 98px;
}
