button {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0;
}
.category-container {
  margin-bottom: 40px;
}


.categories-block {
  margin-top: 24px;
  width: 100%;
  max-height: 198px;
  overflow: hidden;
  overflow-y: auto;
}

@media only screen and (min-width: 768px) {
  .categories-block {
    margin-top: 30px;
    width: 176px;
    max-height: 416px;
  }
}

@media only screen and (min-width: 1280px) {
  .categories-block {
    margin-top: 42px;
    width: 235px;
  }
}

.category-list {
  list-style: none;
  padding: 0;
}

.category-button {
  color: var(--category-button);
  padding-top: 9px;
  padding-bottom: 9px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  transition: all var(--transition);
}

@media only screen and (min-width: 768px) {
  .category-button {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.category-button:hover,
.category-button:focus {
  color: var(--secondary-brand-color);
}

.category-button-active{
  color: var(--secondary-brand-color);
}

.active {
  background-color: var(--secondary-brand-color) !important;
}

.categories-block::-webkit-scrollbar {
  width: 8px;
  height: 201px;
  border-radius: 12px;
}

.categories-block::-webkit-scrollbar-track {
  background-color: var(--background-color);
}
.categories-block::-webkit-scrollbar-thumb {
  background: rgba(5, 5, 5, 0.18);
  border-radius: 12px;
}
.categories-block::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-brand-color);
}

.categories-block::-webkit-scrollbar-track {
  background-color: var(--background-color);
}
.categories-block::-webkit-scrollbar-thumb {
  background: var(--filter-input-pagination-color);
  border-radius: 12px;
}
.categories-block::-webkit-scrollbar-thumb:hover {
  background-color: var(--background-color);
}

/* ------- pagination --------- */
.pagination-bar {
  display: flex;
  gap: 4px;

  justify-content: center;
  padding-bottom: 80px;
  margin-top: 32px;
}

.pag-btn-block {
  display: flex;
  gap: 4px;
}

.gag-btn-black {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #050505;
  border: 1px solid transparent;
  cursor: pointer;
}

.pag-btn-green {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--secondary-brand-color);
  border: 1px solid transparent;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.23;
  cursor: pointer;
}

.pag-btn-white {
  color: var(--primary-brand-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--background-color);
  border: 1px solid var(--category-button);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.23;
}

.pag-btn-white:hover {
  background-color: var(--background-color);
  border: none;
  cursor: pointer;
  transition: var(--transition);
}

.pag-btn-on-hover {
  background-color: var(--secondary-brand-color);
  border: none;
  cursor: pointer;
  transition: var(--transition);
}

.pag-btn-white-tablet {
  display: none;
}

.pag-btn-white-tablet:hover {
  background-color: var(--secondary-brand-color);
  border: none;
  cursor: pointer;
  transition: all var(--transition);
}

.pag-btn-left-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 20px;
  height: 20px;
  fill: #f8f8f8c0;
}

.icon-wrap {
  display: inline-block;
  position: relative;
}

.icon-wrap-right {
  position: relative;
}

.icon-wrap-right.overlap-right {
  position: absolute;
  /* left: 6px; */
}

@media screen and (min-width: 768px) {
  .pagination-bar {
    gap: 8px;
    /* padding-bottom: 64px;
      padding-bottom: 100px; */
    margin-top: 28px;
  }

  .pag-btn-white-tablet {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #f8f8f8;
    border: 1px solid rgba(5, 5, 5, 0.3);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.23;
  }

  .pag-btn-block {
    gap: 8px;
  }

  .gag-btn-black {
    width: 44px;
    height: 44px;
  }

  .pag-btn-green {
    width: 44px;
    height: 44px;
  }

  .pag-btn-white {
    width: 44px;
    height: 44px;
  }
}

.btn_hidden {
  display: none;
}

.right-double {
  background-image: url('/img/sprite/right-double.svg');
  background-repeat: no-repeat;
  transform: rotate(180deg);
  width: 14px;
  height: 14px;
  background-size: contain;
}

.right-single {
  background-image: url('/img/sprite/right-one.svg');
  background-repeat: no-repeat;
  background-position: -1px;
  width: 20px;
  height: 20px;
}

.left-single {
  background-image: url('/img/sprite/left-one.svg');
  background-repeat: no-repeat;
  background-position: -2px;
  width: 20px;
  height: 20px;
}

.left-double {
  background-image: url('/img/sprite/left-double.svg');
  width: 27px;
  height: 27px;
  transform: rotate(90deg);
}

@media only screen and (min-width: 768px) {
  .left-double {
    width: 27px;
    height: 27px;
  }
}
