button {
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    border: none;
    padding: 0;
}
.category-container {
    margin-bottom: 40px
  }
  
.all-categories {
    width: 176px;
    border: 1px solid rgba(5,5,5,.2);
    border-radius: 15px;
    padding: 14px 29px;
    font-weight: 500;
    transition: all .25s cubic-bezier(.4,0,.2,1);
}
.all-categories:hover, body.light-theme .all-categories:focus {
    color: #f8f8f8;
    background-color: #9bb537;
}  
    
.categories-block {
    margin-top: 24px;
    width: 100%;
    max-height: 198px;
    overflow: hidden;
    overflow-y: auto;}
    
  
@media only screen and (min-width: 680px) {
    .categories-block{
        margin-top: 30px;
      width: 176px;
      max-height: 416px;
    }
    
    }
  
@media only screen and (min-width: 1200px){
  .categories-block{
      margin-top: 42px;
      width: 235px;
    }
  }
  
.category-list {
    list-style: none;
    padding: 0;
  }
  
.category-button {
    color:rgba(5, 5, 5, 0.30);
    padding-top: 9px;
    padding-bottom: 9px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    transition: all .25s cubic-bezier(.4,0,.2,1);}
  
@media only screen and (min-width: 680px){
        .category-button{
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
.category-button:hover, 
.category-button:focus {
    color: #9bb537;
}
  

.categories-block::-webkit-scrollbar {
  width: 8px;
  height: 201px;
  border-radius: 12px;
  
}

.categories-block::-webkit-scrollbar-track {
  background-color: #F8F8F8;;
}
.categories-block::-webkit-scrollbar-thumb {
  background: rgba(5, 5, 5, 0.18);
  border-radius: 12px;
}
.categories-block::-webkit-scrollbar-thumb:hover {
  background-color: #9bb537;
}