/* Пошук */
.search {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 14px;

  width: 335px;
}
@media screen and (min-width: 768px) {
  .search {
    width: 419px;
    column-gap: 16px;
    margin-left: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .search {
    flex-wrap: nowrap;
    width: 780px;
    margin-left: 64px;
  }
}

.search-label {
  user-select: none;
  display: block;
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  position: absolute;
  top: -22px;
  color: var(--placeholder);
}
@media screen and (min-width: 768px) {
  .search-label {
    top: -26px;
  }
}
.search-thumb {
  position: relative;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .search-wrapper {
    width: 335px;

    margin-bottom: 36px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .search-wrapper {
    width: 278px;
    margin-bottom: 42px;
  }
}
.label-position {
  position: relative;
}
.search-field {
  transition: var(--transition);
  padding: 14px 14px 14px 48px;
  width: 100%;
  height: 46px;
  border-radius: 15px;
  outline: none;
  background-color: var(--background-color);
  color: var(--primary-brand-color);
  border: 1px solid var(--filter-input-pagination-color);
}
@media screen and (min-width: 768px) {
  .search-field {
    height: 48px;
  }
}
.search-field::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  color: var(--placeholder);
}
.search-field:focus,
.search-field:hover {
  border: 1px solid var(--secondary-brand-color);
  box-shadow: 0 0 5px var(--secondary-brand-color);
}

.search-button {
  position: absolute;
  top: 14px;
  left: 18px;
}
.search-field-icon {
  transition: var(--transition);
  fill: var(--primary-brand-color);
}
.search-field:focus + .search-button .search-field-icon {
  transition: var(--transition);

  fill: var(--secondary-brand-color);
}

@media screen and (max-width: 767px) {
  .time-wrapper {
    width: 160px;
    margin-bottom: 36px;
    margin-right: 14px;
  }
}

@media screen and (min-width: 768px) {
  .time-wrapper {
    width: 125px;
    margin-right: 0;
  }
}
.select {
  width: 100%;

  font-size: 14px;
  font-weight: 500;
  line-height: 18px;

  outline: none;
  background-color: var(--background-color);
  color: var(--select-text);
  border: 1px solid var(--filter-input-pagination-color);
  border-radius: 15px;
  transition: var(--transition);
  padding: 12px 18px;
}

.select:hover,
.select:focus {
  border: 1px solid var(--secondary-brand-color);
  box-shadow: 0 0 5px var(--secondary-brand-color);
  transition: var(--transition);
}
@media screen and (min-width: 768px) {
  .select {
    height: 48px;
  }
}

/*time select відкриваюча шторка*/
.ss-main {
  color: var(--primary-brand-color);
}
.ss-main:focus {
  border: 1px solid var(--secondary-brand-color);
  box-shadow: 0 0 5px var(--secondary-brand-color);
  transition: var(--transition);
}
.ss-main.ss-open-below {
  border-radius: 15px;
}
.ss-content.ss-open-below {
  height: 124px;
  border-radius: 15px;
}

.ss-content.ss-open-below.area-select,
.ss-content.ss-open-below.ingredients-select {
  height: 176px;
}
@media screen and (min-width: 768px) {
  .ss-content.ss-open-below {
    height: 128px;
  }
  .ss-content.ss-open-below.area-select,
  .ss-content.ss-open-below.ingredients-select {
    height: 188px;
  }
}

.ss-content .ss-list .ss-option {
  color: var(--select-open-text);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
}
/* Ховер селекта */
.ss-content .ss-list .ss-option:hover {
  color: var(--primary-brand-color);
  background-color: transparent;
}
/* При натисканні обирається колір */
.ss-content .ss-list .ss-option.ss-highlighted,
.ss-content .ss-list .ss-option:not(.ss-disabled).ss-selected {
  background-color: transparent;
}
/* Відступи між елементами всередині випливаючої шторки */
.ss-content .ss-list .ss-option:not(:last-child) {
  padding-bottom: 8px;
}
/* Колір вибраного селекта */
.ss-content .ss-list .ss-option:not(.ss-disabled).ss-selected {
  color: var(--primary-brand-color);
}
/* area search */
.area-wrapper {
  position: relative;
  width: 160px;
}
@media screen and (min-width: 768px) {
  .area-wrapper {
    width: 141px;
  }
}

/* Пошук інгрідієнтів*/
.ingredients-wrapper {
  width: 188px;
  position: relative;
}
/* Кнопка reset */
.wrapper-reset {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .wrapper-reset {
    margin-bottom: 14px;
  }
}
.button-reset {
  display: flex;
  justify-content: flex-end;
}
.reset-icon {
  fill: var(--secondary-brand-color);
  margin-right: 4px;
}
.reset-text {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: var(--placeholder);
}
