/* BUTTON */

.hero-button {
  display: inline-flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #9bb537;
  background-color: #fff;
  color: #050505;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 48px;
}

.hero-button:hover,
.hero-button:active,
.hero-button:focus {
  background-color: #9bb537;
  color: #fff;
}

/*  MOBILE CSS 375px */
.hero-title {
  margin-top: 89px;
  margin-bottom: 14px;
  width: 335px;
  color: #050505;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
}

.hero-title-text {
  color: #9bb537;
  font-size: 26px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
}

.hero-paragraph {
  margin-bottom: 28px;
  color: #050505;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
}
