<footer class="container footer">
  <div class="footer-desk">
    <div class="footer-all">
      <div class="footer-container-logo">
        <a class="link logo-footer" href="./index.html">
          <span class="logo-color">tasty</span>treats.
        </a>
        <p class="footer-text">
          Don't know what to cook for dinner or how to surprise your guests?
          <br />
          Subscribe - we solve this problem!
        </p>
      </div>
      <div class="footer-media">
        <ul class="social-list-footer list">
          <li class="social-list-item">
            <a
              href="https://uk-ua.facebook.com/"
              class="footer-social-list-link link"
            >
              <svg class="foter-social-list-icon" width="16" height="16">
                <use href="./img/sprite/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item">
            <a
              href="https://www.instagram.com/"
              class="footer-social-list-link link"
            >
              <svg class="foter-social-list-icon" width="16" height="16">
                <use href="./img/sprite/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item">
            <a
              href="https://twitter.com/?lang=uk"
              class="footer-social-list-link link"
            >
              <svg class="foter-social-list-icon" width="16" height="16">
                <use href="./img/sprite/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-policy">
      <ul class="footer-policy-list">
        <li class="footer-policy-item">
          <a class="footer-policy-link link" href="#" onclick="return false;"
            >Terms of Use</a
          >
        </li>

        <li class="footer-policy-item">
          <a class="footer-policy-link link" href="#" onclick="return false;"
            >Privacy Policy</a
          >
        </li>

        <li class="footer-policy-item">
          <a class="footer-policy-link link" href="#" onclick="return false;"
            >Digital accessibility</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
