<header class="header">
    <div class="header-container header-flex">
        <nav class="nav-menu">
            <ul class="menu-list list">
                <li class="menu-item"><a href="">Home</a></li>
                <li class="menu-item"><a href=""></a>Favorites</li>
            </ul>
        </nav>
        <a href="" class="logo">
            <span class="logo-color">tasty</span>treats.
        </a>
        <div class="buttons">
            <button type="button" class="basket-btn"></button>
            <button type="button" class="burger-btn js-open-menu"></button>
        </div>
    </div>

    <div class="mob-menu js-menu-container">
        <button type="button" class="close-menu-btn js-close-menu">X</button>
        <nav class="mob-menu-nav">
            <ul class="mob-menu-list list">
                <li class="mob-menu-item"><a href="">Home</a></li>
                <li class="mob-menu-item"><a href="">Favorites</a></li>
            </ul>
        </nav>
    </div>
</header>