/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* ROOT */
@import url("./base/root.css");

/* BASE */
@import url('./base/reset.css');

/* COMPONENTS */
@import url("./components/container.css");
@import url("./components/button.css");
@import url("./base/common.css");


/* FONTS */
/* @import url("./fonts-face/fonts.css"); */


/* LAYOUT */
/* main-page */
@import url('./layout/header.css');

@import url('./layout/main-page/hero.css');

@import url('./layout/main-page/categories.css');

@import url('./layout/main-page/popular.css');

@import url('./layout/main-page/filter.css');

@import url('./layout/main-page/cards.css');

/* favorites-page */
@import url('./layout/header.css');

@import url('./layout/favorites-page/default.css');





