<section class="favorite">
    <div class="fav-hero container"> 
        <div class="fav-static fav-phantom">
            <picture class="fav-img">
                <source srcset="
                ./img/images/cardcard-desk1080.png 1x, 
                ./img/images/cardcard-desk1080@2x.png 2x"
                media="(min-width:1280px)"
                />
                 <source srcset="
                 ./img/images/cardcard-tab704.png 1x,
                 ./img/images/cardcard-tab704@2x.png 2x"
                media="(min-width:768px)"
                />
                 <source srcset="
                ./img/images/cardcard335.png 1x, 
                ./img/images/cardcard335@2x.png 2x"
                 media="(max-width: 767px)"
                />
                
                <img src="./img/images/cardcard335.png" alt="favourite dish" />
            </picture>
        </div>  

        <div class="fav-empty">
                <picture class="fav-icon">
                    <source srcset="
                                        ./img/images/favorite-icon-desk.png 1x, 
                                        ./img/images/favorite-icon-desk@2x.png 2x" media="(min-width:1280px)" />
                    <source srcset="
                                         ./img/images/favorite-icon-tab.png 1x,
                                         ./img/images/favorite-icon-tab@2x.png 2x" media="(min-width:768px)" />
                    <source srcset="
                                        ./img/images/favorite-icon-tel.png 1x, 
                                        ./img/images/favorite-icon-tel@2x.png 2x" media="(max-width: 768px)" />
            
                    <img src="./img/images/favorite-icon-tel.png" alt="favourite dish" />
                </picture>
                <p class="fav__text">
                    It appears that you haven't added any recipes to your favorites yet. To
                    get started, you can add recipes that you like to your favorites for
                    easier access in the future.
                </p>
        </div>
        <div class="fav-container-categories"><div class="fav-categories">
            
        </div></div>
        <ul class="fav-container fav-container-js fav-style-reset ">
            
        </ul>
        
        <div id="paginationFAV"></div>
    </div>   
  </div>
</section>