.favorite {
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 80px;
}

.fav-hero {
  flex-direction: column;
  gap: 40px;
  display: flex;
}
.fav__text {
  color: #050505;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.fav-empty {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  gap: 24px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
