.favorite {
  width: 100%;
  margin: 0 auto;
}

.fav-phantom{

  display: none;
}

.fav__text {
  color: var(--primary-brand-color);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding-top: 25px;
}

.fav-empty {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  padding-top: 280px;
  padding-bottom: 330px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-none {
  display: none;
}

.fav-img{
  width: 100%;
  height: auto;
  display: block;
  padding-top: 50px;
  padding-bottom: 40px;
}

.fav-container{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding-top: 25px;
  padding-bottom: 80px;
}

.fav-hero .fav-style-reset{
  padding: 0;
  margin: 0;
}

.fav-container .recipes-card{
  width: calc(100%);
}

.fav-container-categories{
  height: 50px;
  position: relative;
}

.fav-categories{
  display: flex;
  position: absolute;
  gap: 12px;
  overflow: scroll;
  width: calc(100% + 15px);
}

.fav-categories::-webkit-scrollbar {
  display: none;
}

.fav-categories .category-btn{
  color: var(--category-button);
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    display: flex;
    align-items: center;
    white-space: nowrap;

    padding: 14px 18px;

    border-radius: 15px;
      border: 1px solid var(--all-categories);
    transition: color var(--transition);
    transition: background-color var(--transition);
    transition: border-color var(--transition);
  
}

.fav-categories .category-btn:hover{
  background: var(--accent-color);
  color: var(--cards-text-color-white-theme);
  border-color: var(--accent-color);
}

.fav-categories .fav-btn-active {
  background: var(--accent-color);
  color: var(--cards-text-color-white-theme);
  border-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .fav-container{
    gap: 15px;
    padding-top: 30px;
  }

  .fav-container .recipes-card{
    width: calc((100% - 30px)/3);
  }

  .fav-img{
    padding-bottom: 65px;
  }

  .fav-phantom{
    display: block;
  }

  .fav__text{
    padding-top: 30px;
    width: 480px;
  }

  .fav-empty{
    padding-top: 0;
    padding-bottom: 320px;
  }

  .fav-categories{
    gap: 15px;
  }

  .fav-categories .category-btn{
    line-height: 1.25;
    font-size: 16;
  }
}

@media screen and (min-width: 1280px) {
  .fav-container{
    row-gap: 30px;
    column-gap: 15px;
    padding-bottom: 100px;
  }
  .fav-container .recipes-card {
    width: calc((100% - 45px)/4);
  }
  .fav-img{
    padding-top: 40px;
  }
  .fav-empty{
    padding-bottom: 64px;
  }
}
